@model McvExamenCubos.Models.Cubo

@{
    ViewData["Title"] = "InsertarProducto";
    List<string> marcas = ViewData["Marcas"] as List<string>;
}

<h1>InsertarProducto</h1>

<h4>Cubo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCubo" class="control-label"></label>
                <input type="hidden" asp-for="IdCubo" class="form-control" />
                <span asp-validation-for="IdCubo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                
                <select asp-for="Marca" class="form-select">
                    @foreach (string item in marcas)
                    {
                        <option value="@item" >@item</option>
                    }
                </select>

                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>

            <label>Seleccione un fichero</label>
            <input type="file" name="file" class="form-control"/>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
