@model List<Pedido>

@{
    ViewData["Title"] = "Pedidos";
}

<h1>Pedidos</h1>

@if (Model.Count != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    IdPedido
                </th>
                <th>
                    IdCubo
                </th>
                <th>
                    IdUsuario
                </th>
                <th>
                    Fecha
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.IdPedido
                    </td>
                    <td>
                        @item.IdCubo
                    </td>
                    <td>
                        @item.IdUsuario
                    </td>
                    <td>
                        @item.Fecha
                    </td>

                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h2 class="text-danger text-center">
        No hay pedidos...
    </h2>
}
